<!DOCTYPE html>
<html>

<head>
    <title>Главная страница</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>

    <header>
        <div>
            <a href="/">
                <div>
                    <p>Интернет-каталог товаров комплектующих ПК</p> 
                </div>
            </a>
        </div>
    </header>

    <nav>
        <div>
            <ul>
                <li><a class="pickedli" href="/">Главная страница</a></li>
                <li><a href="catalog">Каталог товаров</a></li>
            </ul>
        </div>
    </nav>

    <div class="d_history">
        <h2>Добро пожаловать!</h2>
        <h3>Наша история.</h1>
        <p>В далеком 2010 году три страстных любителей технологий - Александр, Екатерина и Дмитрий - решили придумать свои силы и создать магазин, который станет настоящей мастерской технологической магии для своих клиентов. Именно так родилась идея. «ТехноМагии» </p>
        <p>С первых дней своего магазина освещения стремился предложить клиентам не только широкий ассортимент компьютерных комплектующих, но и высокий уровень обслуживания. Команда магазина уделяла особое внимание обучению своих сотрудников, чтобы они могли качественно консультировать клиентов и обеспечивать выбор оптимальных комплектующих для них.</p>
        <p>С годами «ТехноМагия» стала не только популярным магазином, но и презентацией, где технологии стали доступными и понятными для всех. Магазин активно участвовал в выставках и конференциях, делился своим опытом с клиентами и руководителями.</p>
        <p>Ведущие компьютерные магазины в стране уделяют своим клиентам не только широкий выбор товаров, но и профессиональное обслуживание и индивидуальный подход к каждому клиенту. Магазин продолжает расти и совершенствоваться, чтобы оставаться верными своим идеалам — делать технологии доступными и волшебными для всех.</p>
    </div>
    
    <div>
        <footer>
            <hr>
            <h4>23-ИСТ-4-2 Белов Дмитрий Алексеевич dbelov1357@gmail.com</h4>
        </footer>
    </div>

</body>
</html>