<!DOCTYPE html>
<html>

<head>
    <title>Главная страница</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
    <link rel="stylesheet" href="css/1.css">
</head>

<body>

    <header>Главная страница</header>

    <nav>
        <div>
            <ul>
                <li><a class="pickedli" href="/">Главная страница</a></li>
                <li><a href="catalog">Каталог товаров</a></li>
            </ul>
        </div>
    </nav>

    <div class="d_common">
        <p>Добро пожаловать!</p>
    </div>
    
    <div>
        <footer>
            <hr>
            <h4>23-ИСТ-4-2 Белов Дмитрий Алексеевич dbelov1357@gmail.com</h4>
        </footer>
    </div>

</body>
</html>