.forbody {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    
}
.header {
    color:green;
    background-color: rgb(250,250,147);
}
.footer{
    background-color:rgb(205, 152, 255);
}
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    font-size: 24px;/*размер шрифта*/
    color: #fff;
    padding: 15px 25px;/*место текста относительно границ кнопки*/
    border-radius: 5px;/*радиус закругления*/
    cursor: pointer;/*курсор будет выглядеть как рука*/
    z-index: 1000;/*позиция выше*/
    background-color: green;
  }

  .equal-columns-table {
      width: 100%;
      border-collapse: collapse;/*границы ячеек сливаются в одну*/
      table-layout: fixed;
  }

  .equal-columns-table td {
      text-align: center;
      vertical-align: top;
      padding: 10px;
      border: 1px solid #ccc;
  }

  .equal-columns-table .content {
      width: 100%;
      height: 100%;
      
  }
  
  .equal-columns-table .content img {
      width: 300px;
      height: 300px;
  }
